* {
	margin: 0;
	padding: 0;
	font-family: "Neue Haas Unica";
}
body {
	background-color: #111;
	overflow-y: hidden;
	overflow-x: hidden;
}

// Font face
@font-face {
    font-family: "Neue Haas Unica", ;
    src: url("../fonts/NeueHaasUnicaPro-Regular.ttf");
}

a:hover {
	cursor: pointer;
}

.hide-modal, .show-modal {
	display: none;
}

.modal {
	width: 74em;
	height: 29em;
	// background-color: rgba(241, 241, 255, .85);
	position: absolute;
	margin: auto;
	left: 0; right: 0;
	bottom: 0; top: 0;

	.social {
		position: absolute;
		left: 4em;
		bottom: 2em;
		a {
			margin-right: .5em;
			text-decoration: underline;
		}
	}

	.buttons {
		position: absolute;
		right: 2em;
		bottom: 2em;
		a {
			margin-right: .5em;
			text-decoration: underline;
		}
	}

	.float-left {
		float: left;
		width: 40%;
		height: 100%;
		overflow: hidden;
		background-image: url("../images/portrait_small_compress.jpg");
		background-size: cover;
		background-position: 48% center;
		opacity: .8;
	}
	.float-right {
		padding: 2em 2em 8em 3.9em;
		position: relative;
		width: 52%;
		float: right;
		color: #111;
		background-color: rgba(241, 241, 255, .8);
		hr {
			width: 60%;
			height: 1px;
			outline: none;
			border: none;
			background-color: rgba(0, 0, 0, .1);
			margin: 2em auto;
		}
		p {
			margin: 1em 0;
		}
	}
	a {
		color: #111;
	}

}

.info {
	width: 40em;
	position: absolute;
	bottom: 2em;
	left: 0; right: 0;
	margin: auto;
	opacity: 1;
	transition: opacity .5s;
	img {
		width: 6em;
		display: block;
		margin: auto;
		margin-bottom: .5em;
	}
	p {
		color: white;
		font-size: .75em;
		letter-spacing: 1px;
		text-align: center;
	}
}

// MEDIA QUERIES

// Tablet
@media screen and (max-width: 1340px) {

	.modal {
		width: 40em;
		height: calc(42em + 5em);
		top: 0;

		.float-left {
			float: none;
			width: 40em;
			height: 20em;
			margin: auto;
			position: relative;
		}
		.float-right {
			width: 40em;
			float: none;
			padding: 1em 2em;
			padding-bottom: 6em;
			margin: auto;
			box-sizing: border-box;
		}

		.social {
			position: absolute;
			left: 2em;
			bottom: 1.5em;
			a {
				margin-right: .5em;
				text-decoration: underline;
			}
		}
		.buttons {
			bottom: 1.5em;
		}
	}

	.info {
		img {
			width: 4.5em;
		}
	}

}

// Phone
@media screen and (max-width: 825px) {

	.hide-modal, .show-modal {
		display: block;
		color: white;
		text-decoration: underline;
		position: absolute;
		top: 1em;
		right: 1em;
		font-size: .9em;
	}

	.show-modal {
		display: none;
	}

	.modal {
		font-size: 0.8em;
		width: 40em;
		height: calc(42em + 5em);
		top: 0;

		.float-left {
			float: none;
			width: 40em;
			height: 18em;
			margin: auto;
			position: relative;
		}
		.float-right {
			width: 40em;
			float: none;
			padding: 1em 2em;
			padding-bottom: 6em;
			margin: auto;
			box-sizing: border-box;
		}

		.social {
			position: absolute;
			left: 2em;
			bottom: 1.5em;
			a {
				margin-right: .5em;
				text-decoration: underline;
			}
		}
		.buttons {
			bottom: 1.5em;
		}
	}

	.info {
		width: 23em;
		img {
			width: 2.5em;
		}
	}

}

// Phone small
@media screen and (max-width: 650px) {

	.modal {
		font-size: 0.7em;
		width: 32em;
		height: calc(42em + 12em);
		top: 0;

		.float-left {
			float: none;
			width: 32em;
			height: 14em;
			margin: auto;
			position: relative;
		}
		.float-right {
			hr {
				margin: 1.5em auto;
			}
			width: 32em;
			float: none;
			padding: .8em 2em;
			padding-bottom: 5em;
			margin: auto;
			box-sizing: border-box;
			.social {
				display: block;
				margin: auto;
				margin-top: 2em;
				position: static;
				text-align: center;
				a {
					margin-right: .5em;
					text-decoration: underline;
				}
			}
		}

		.buttons {
			bottom: 1.5em;
		}
	}

	.info {
		font-size: .8em;
		width: 15em;
		img {
			width: 2.5em;
		}
	}

}

// Phone smaller
@media screen and (max-width: 460px) {

	.modal {
		font-size: 0.6em;
		width: 32em;
		height: calc(42em + 12em);
		top: 0;

		.float-left {
			float: none;
			width: 32em;
			height: 14em;
			margin: auto;
			position: relative;
		}
		.float-right {
			hr {
				margin: 1.5em auto;
			}
			p {
				font-size: 1.2em;
			}
			width: 32em;
			float: none;
			padding: .05em 1.5em;
			padding-bottom: 5em;
			margin: auto;
			box-sizing: border-box;
			.social {
				display: block;
				margin: auto;
				margin-top: 1em;
				position: static;
				text-align: center;
				a {
					margin-right: .5em;
					text-decoration: underline;
				}
			}
		}

		.buttons {
			bottom: .5em;
			right: 1em;
		}
	}

	.info {
		width: 10em;
		bottom: 1.4em;
		p {
			font-size: .5em;
		}
		img {
			width: 1.7em;
		}
	}

}

// Phone smallest
@media screen and (max-width: 400px) {

	.modal {
		font-size: 0.62em;
		width: 32em;
		height: calc(42em + 12em);
		top: 0;

		.float-left {
			float: none;
			width: 32em;
			height: 14em;
			margin: auto;
			position: relative;
		}
		.float-right {
			hr {
				margin: 1.5em auto;
			}
			p {
				font-size: 1.3em;
			}
			width: 32em;
			float: none;
			padding: .05em 1.5em;
			padding-bottom: 5em;
			margin: auto;
			box-sizing: border-box;
			.social {
				display: block;
				margin: auto;
				margin-top: 1em;
				position: static;
				text-align: left;
				a {
					margin-right: .5em;
					text-decoration: underline;
				}
			}
		}

		.buttons {
			bottom: .5em;
			right: 1em;
		}
	}

	.info {
		width: 10em;
		bottom: 1.4em;
		p {
			font-size: .5em;
		}
		img {
			width: 1.7em;
		}
	}

}

// Phone smallest
@media screen and (max-width: 383px) {

	.modal {
		font-size: 0.55em;
		width: 35em;
		height: calc(42em + 12em);
		top: 0;

		.float-left {
			float: none;
			width: 35em;
			height: 14em;
			margin: auto;
			position: relative;
		}
		.float-right {
			hr {
				margin: 1.5em auto;
			}
			p {
				font-size: 1.3em;
			}
			width: 35em;
			float: none;
			padding: .05em 1.5em;
			padding-bottom: 5em;
			margin: auto;
			box-sizing: border-box;
			.social {
				display: block;
				margin: auto;
				margin-top: 1em;
				position: static;
				text-align: left;
				a {
					margin-right: .5em;
					text-decoration: underline;
				}
			}
		}

		.buttons {
			bottom: .5em;
			right: 1em;
		}
	}

	.info {
		width: 10em;
		bottom: 1.4em;
		p {
			font-size: .5em;
		}
		img {
			width: 1.7em;
		}
	}

}

// Phone smallestest
@media screen and (max-width: 359px) {

	.hide-modal, .show-modal {
		font-size: .7em;
		top: .7em;
	}

	.modal {
		font-size: 0.5em;
		width: 35em;
		height: calc(42em + 10em);
		top: 0;

		.float-left {
			float: none;
			width: 35em;
			height: 12em;
			margin: auto;
			position: relative;
			background-position: center 47%;
		}
		.float-right {
			hr {
				margin: 1.5em auto;
			}
			p {
				font-size: 1.25em;
			}
			width: 35em;
			float: none;
			padding: .05em 1.5em;
			padding-bottom: 5em;
			margin: auto;
			box-sizing: border-box;
			.social {
				display: block;
				margin: auto;
				margin-top: 1em;
				position: static;
				text-align: left;
				a {
					margin-right: .5em;
					text-decoration: underline;
				}
			}
		}

		.buttons {
			bottom: .5em;
			right: 1em;
		}
	}

	.info {
		width: 10em;
		bottom: 1.4em;
		p {
			font-size: .5em;
		}
		img {
			width: 1.6em;
		}
	}

}

// Phone smallestest
@media screen and (max-height: 600px) {

	.hide-modal, .show-modal {
		font-size: .7em;
		top: .7em;
	}

	.modal {
		font-size: 0.6em;
		width: 35em;
		height: calc(42em + 10em);
		top: 0;

		.float-left {
			float: none;
			width: 35em;
			height: 12em;
			margin: auto;
			position: relative;
			background-position: center 47%;
		}
		.float-right {
			hr {
				margin: 1.5em auto;
			}
			p {
				font-size: 1.25em;
			}
			width: 35em;
			float: none;
			padding: .05em 1.5em;
			padding-bottom: 5em;
			margin: auto;
			box-sizing: border-box;
			.social {
				display: block;
				margin: auto;
				margin-top: 1em;
				position: static;
				text-align: left;
				a {
					margin-right: .5em;
					text-decoration: underline;
				}
			}
		}

		.buttons {
			bottom: .5em;
			right: 1em;
		}
	}

	.info {
		width: 10em;
		bottom: 1.4em;
		p {
			font-size: .5em;
		}
		img {
			width: 1.6em;
		}
	}

}